<% if share[:type] == "status" %>
  <p><%= share[:message] %></p>
<% else %>
  <% if share[:message].present? || share[:link].present? %>
    <% if share[:type].in?(["link", "photo"]) && share[:full_picture].present? %>
      <div class="text-center">
        <%= link_to image_tag(share[:full_picture], class: "share-media media-with-statistics"), "#{share[:full_picture]}", 'data-lightbox': "share", 'data-title': "#{@facebook_page.present? ? @facebook_page.name : @facebook_account.name}#{share[:message].present? ? ':' : nil} #{share[:message]}" %>
      </div>
    <% elsif share[:type] == "video" %>
      <div class="text-center">
        <div class="fb-video media-with-statistics" data-href="<%= share[:attachments][:data].first[:url] %>" data-allowfullscreen="true" data-width="500"></div>
      </div>
    <% end %>
    <div class="message">
      <% if share[:message].present? %>
        <p><%= share[:message] %></p>
      <% end %>
      <% if share[:type] == "link" %>
        <p><%= link_to share[:link], share[:link] %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
