<%= form_for @facebook_share, remote: true, html: {multipart: true} do |f| %>
  <div class="error_messages">
    <% @facebook_share.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    <div class="notice alert alert-danger" id="facebook-errors" role="alert"></div>
  </div>

  <div class="text-center" id="share-type">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-facebook active">
        <input type="radio" name="facebook_options" class="text-share" autocomplete="off" id="fb-text-option" checked>Text share
      </label>
      <label class="btn btn-facebook">
        <input type="radio" name="facebook_options" class="link-share" autocomplete="off" id="fb-link-option">Link share
      </label>
      <label class="btn btn-facebook">
        <input type="radio" name="facebook_options" class="photo-share" autocomplete="off" id="fb-photo-option">Photo share
      </label>
      <label class="btn btn-facebook">
        <input type="radio" name="facebook_options" class="video-share" autocomplete="off" id="fb-video-option">Video share
      </label>
    </div>
  </div>

  <div class="row">
    <div class="field social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :facebook_page %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.select :facebook_page_id, options_for_select(@facebook_pages.collect { |page| [page.name, page.id] }), {}, {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field share-field facebook_link-share social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :link %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.url_field :link, autofocus: true, placeholder: "http://...", class: "share-input form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field share-field facebook_photo-share social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :photo %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.file_field :photo,
          onchange: "validateFbFiles(this);",
          data: {max_file_size: 5.megabytes},
          autofocus: true,
          class: "share-input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field share-field facebook_photo-share social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :remote_photo_url, "or image URL" %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.text_field :remote_photo_url, autofocus: true, placeholder: "http://...", class: "share-input form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field share-field facebook_video-share social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :video %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.file_field :video,
        onchange: "validateFiles(this);",
        data: {max_file_size: 500.megabytes},
        autofocus: true,
        class: "share-input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :content %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.text_area :content, autofocus: true, class: "share-input form-control", rows: "5" %>
      </div>
    </div>
  </div>

  <div class="actions social-submit">
    <%= button_tag(class: "btn btn-facebook") do %>
      <%= icon('facebook') %> Share on Facebook
    <% end %>
  </div>

<% end %>
