<div class="panel panel-default feed-item <%= params[:controller] == 'mixfeeds' ? 'grid-item' : '' %>">
  <div class="panel-heading">
    <% if @facebook_page.present? %>
      <span class="page-name">
        <%= image_tag(@facebook_page.picture, class: "img-circle avatar-thumb") %>
        <%= link_to @facebook_page.name, @facebook_page.page_url %>
      </span>
    <% else %>
      <span class="page-name">
        <%= image_tag(@facebook_account.picture, class: "img-circle avatar-thumb") %>
        <%= link_to @facebook_account.name, @facebook_account.account_url %>
      </span>
    <% end %>
    <span>
      <% unless share[:type] == "status" %>
        shared a <%= share[:type] %>
      <% end %>
    </span>
    <span class="pull-right">
      <%= icon('facebook', class: "facebook-blue") %>
    </span>
    </br>
    <span class="shared-at pull-right">
      <%= time_ago_in_words(share[:created_time]) %> ago
    </span>
  </div>

  <div class="panel-body feed">

    <%= render 'facebook_shares/content', share: share %>
    <%= render 'facebook_shares/comments', share: share %>
    <%= render 'facebook_shares/actions', share: share %>
    <%= render 'facebook_shares/reshare_comment_modal', share: share %>
    <%= render 'facebook_shares/statistics', share: share %>

  </div>
</div>
