<div class="share-info">
  <%= @facebook_page.name %> shared at: <%= share[:created_time] %>
  <% if share[:updated_time] != share[:created_time] %>
    Updated at: <%= share[:updated_time] %>
  <% end %>
  By: <%= share[:from][:name] %>
</div>
<div class="share-message">
  <% if share[:message].present? %>
    Message: <%= share[:message] %>
  <% end %>
  <% if share[:link].present? %>
    Link: <%= share[:link] %>
  <% end %>
  <% if share[:picture].present? %>
    <%= image_tag(share[:picture]) %>
  <% end %>
  <% if share[:video].present? %>
    <% video_tag(share[:video]) %>
  <% end %>
</div>
