<div class="panel panel-default">
  <div class="panel-heading">
    <span class="page-name"><%= link_to @facebook_page.name, @facebook_page.page_url %></span>
    <span>
      <% unless share[:type] == "status" %>
        shared a <%= share[:type] %>
      <% end %>
    </span>
    <span class="shared-at pull-right">
      <%= time_ago_in_words(share[:created_time]) %> ago
    </span>
  </div>

  <div class="panel-body feed">
    <% if share[:type] == "status" %>
      <p><%= share[:message] %></p>
    <% else %>
      <% if share[:message].present? || share[:link].present? %>
          <% if share[:picture].present? %>
            <p class="text-center"><%= image_tag(share[:picture]) %></p>
          <% elsif share[:video].present? %>
            <p class="text-center"><% video_tag(share[:video]) %></p>
          <% end %>
          <% if share[:message].present? %>
            <p><%= share[:message] %></p>
          <% end %>
          <% if share[:type] == "link" %>
            <p><%= link_to share[:link], share[:link] %></p>
          <% end %>
      <% else %>
      <% if share[:picture].present? %>
        <p class="text-center"><%= image_tag(share[:picture]) %></p>
      <% elsif share[:video].present? %>
        <p class="text-center"><% video_tag(share[:video]) %></p>
      <% end %>
      <% end %>
    <% end %>
    <div class="statistics">
      <% if share[:likes].present? %>
        <%= share[:likes][:data].count %> <span class="facebook-blue"><%= icon('thumbs-o-up') %></span>
      <% end %>
      <% if share[:comments].present? %>
        <%= share[:comments][:data].count %> <span class="facebook-blue"><%= icon('comments-o') %></span>
      <% end %>
    </div>
  </div>
</div>
