<div class="actions">
  <%= link_to "#{icon('share', class: 'fa-2x')}".html_safe, "#", class: "pre-action reshare dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false }, role: "button" %>

  <ul class="dropdown-menu">
  <!-- Facebook -->
    <% if @facebook_account %>
      <li>
        <%= link_to "#{icon('facebook', class: 'facebook-blue')} Share Now".html_safe, facebook_shares_reshare_path(instagram.id, link: instagram.link), method: "POST", remote: true %>
      </li>
      <li>
        <%= link_to "#{icon('facebook', class: 'facebook-blue')} Share...".html_safe, "#",  data: { toggle: "modal", target: "##{instagram.id}-reshare-with-text-modal" } %>
      </li>
    <% end %>

    <!-- Twitter -->
    <% if @twitter_account %>
      <li>
        <%= link_to "#{icon('twitter', class: 'twitter-blue')} Tweet Now".html_safe, twitter_shares_share_tweet_path(instagram.id, content: "#{instagram.user.username}'s photo on Instagram: #{instagram.link}", remote_photo_url: instagram.images.standard_resolution.url), method: "POST", remote: true %>
      </li>
      <li>
        <%= link_to "#{icon('twitter', class: 'twitter-blue')} Tweet...".html_safe, "#", data: { toggle: "modal", target: "##{instagram.id}-tweet-with-text-modal"} %>
      </li>

    <% end %>

  </ul>

</div>
