<div class="modal fade" id="<%= instagram.id %>-reshare-with-text-modal" tabindex="-1" role="dialog" aria-labelledby="reshare">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(facebook_shares_reshare_path(instagram.id), remote: true) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Reshare to my timeline</h4>
        </div>
        <div class="modal-body">
          <%= render 'instagram_shares/content', instagram: instagram %>

          <%= hidden_field_tag "link", instagram.link %>
          <%= text_area_tag "text", nil, class: "share-input form-control", rows: "5" %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <div class="actions social-submit">
            <%= button_tag(class: "btn btn-facebook", id: "share") do %>
              <%= icon('facebook') %> Share on Facebook
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
