<div class="panel panel-default feed-item <%= params[:controller] == 'mixfeeds' ? 'grid-item' : '' %>">
  <div class="panel-heading">
    <span class="page-name">
      <%= image_tag("#{instagram.user.profile_picture}", class: "img-circle avatar-thumb") %>
      <%= link_to instagram.user.username, "http://instagram.com/#{instagram.user.username}" %>
    </span>
    <span class="pull-right">
      <%= icon('instagram', class: "instagram-blue") %>
    </span>
    </br>
    <span class="shared-at pull-right">
      <%= time_ago_in_words(Time.at(instagram.created_time.to_i).to_datetime) %> ago
    </span>
  </div>

  <div class="panel-body feed">

    <%= render 'instagram_shares/content', instagram: instagram %>
    <%= render 'instagram_shares/actions', instagram: instagram %>
    <%= render 'instagram_shares/reshare_to_fb_comment_modal', instagram: instagram %>
    <%= render 'instagram_shares/reshare_to_tw_comment_modal', instagram: instagram %>
    <%= render 'instagram_shares/statistics', instagram: instagram %>

  </div>
</div>
