<div class="panel panel-default feed-item <%= params[:controller] == 'mixfeeds' ? 'grid-item' : '' %>">
  <div class="panel-heading">
    <span class="page-name">
      <%= image_tag("#{instagram.user.profile_picture}", class: "img-circle avatar-thumb") %>
      <%= link_to instagram.user.username, "http://instagram.com/#{instagram.user.username}" %>
    </span>
    <span class="pull-right">
      <%= icon('instagram', class: "instagram-blue") %>
    </span>
    </br>
    <span class="shared-at pull-right">
      <%= time_ago_in_words(Time.at(instagram.created_time.to_i).to_datetime) %> ago
    </span>
  </div>

  <div class="panel-body feed">
    <div class="text-center">
      <%= link_to image_tag(instagram.images.standard_resolution.url, class: "share-media media-with-statistics"), "#{instagram.images.standard_resolution.url}", 'data-lightbox': "instagram", 'data-title': "#{@instagram_account.username}: #{instagram.caption.try(:text)}" %>
    </div>
    <div class="message">
      <p><%= instagram.caption.try(:text) %></p>
    </div>
    <div class="statistics">
      <% if instagram.likes.count > 0 %>
        <%= instagram.likes.count %> <span class="instagram-blue"><%= icon("heart", class: "instagram-favorite") %></span>
      <% end %>
    </div>
  </div>
</div>
