<!-- Section 1 -->
<section class="parallax-1" id="intro-<%= controller_name %>" data-speed="6" data-type="background">
  <div class="container">
    <%= render "layouts/flash_messages" %>
    <div class="row landing-row">
      <div class="col-xs-12 col-md-4 text-center" id="taglines-clients">
        <div class="well">
          <h1>Attract more <strong>clients.</strong></h1>
        </div>
      </div>
    </div>
    <div class="row landing-row">
      <div class="col-xs-12 col-md-4 col-md-offset-4 text-center" id="taglines-brand">
        <div class="well">
          <h1>Promote your <strong>brand.</strong></h1>
        </div>
      </div>
    </div>
    <div class="row landing-row">
      <div class="col-xs-12 col-md-4 col-md-offset-8 text-center" id="taglines-brand">
        <div class="well">
          <h1>Why wait?</h1>
          <h3><%= link_to "Get started #{icon('arrow-circle-right')}".html_safe, new_user_registration_path, class: "get-started" %></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section 2 -->
<section class="parallax-2" id="home-<%= controller_name %>" data-speed="4" data-type="background">
  <div class="container">
    <div class="col-xs-12 col-md-3 text-center">
      <div class="well">
        <h3>Create and share content on these channels.</h3>
      </div>
    </div>
    <div class="col xs-12 col-md-6 text-center">
      <a class="btn btn-social-icon btn-lg btn-twitter">
        <i class="fa fa-twitter fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-facebook">
        <i class="fa fa-facebook fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-instagram">
        <i class="fa fa-instagram fa-5x"></i>
      </a>
      <a class="btn btn-social-icon btn-lg btn-linkedin">
        <i class="fa fa-linkedin fa-5x"></i>
      </a>
    </div>
    <div class="xs-12 col-md-3 text-center">
      <div class="well">
        <h3>Don't just reach your followers. Grow your audience.</h3>
      </div>
    </div>
  </div>
</section>
<!-- Section 3 -->
<section class="parallax-3" id="about-<%= controller_name %>" data-speed="2" data-type="background">
</section>
