<!-- Section 1 -->
<section id="intro-<%= controller_name %>" data-speed="6" data-type="background">
  <div class="container">
    <div class="col-xs-12 col-md-9" id="js-flash"></div>
    <%= render "layouts/flash_messages" %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="well">
          <h1>Mixfeed</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="well well-dashboard">
          <h3>All your feeds. ntgrated.</h3>
          <div class="text-center">
            <span>
              Showing these feeds:
              <% current_user.identities.each do |identity| %>
                <%= icon(identity.provider, class: "#{identity.provider}-blue") %>
              <% end %>
            </span>
          </div>

          <div class="text-center" id="authorize-channel-buttons">
            <% unless @facebook_account.present? %>
              <%= link_to "#{icon('facebook')} Authorize Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook" %>
            <% end %>
            <% unless @twitter_account.present? %>
              <%= link_to "#{icon('twitter')} Authorize Twitter".html_safe, user_omniauth_authorize_path(:twitter), class: "btn btn-social btn-twitter" %>
            <% end %>
            <% unless @instagram_account.present? %>
              <%= link_to "#{icon('instagram')} Authorize Instagram".html_safe, user_omniauth_authorize_path(:instagram), class: "btn btn-social btn-instagram" %>
            <% end %>
            <% unless @linkedin_account.present? %>
              <%= link_to "#{icon('linkedin')} Authorize LinkedIn".html_safe, "#", class: "btn btn-social btn-linkedin" %>
            <% end %>
          </div>

          <!-- feeds -->
          <div class="col-xs-12">
            <div class="mixfeed feed-container grid">
              <% @feeds.each do |share| %>
                <% if share.is_a?(Hashie::Mash) %>
                  <%= render 'instagram_shares/share', instagram: share %>
                <% elsif share.is_a?(Twitter::Tweet) %>
                  <%= render 'twitter_shares/tweet', tweet: share %>
                <% else %>
                  <%= render 'facebook_shares/share', share: share.deep_symbolize_keys %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
