<h1>Dashboard</h1>

<h3>Welcome</h3>

<% if @listings.empty? %>
  <p>You don't have any listings yet.</p>
  <%= link_to "Get started", "#" %>
<% else %>
  <% if @listings.active.present? %>
    <p>You have <%= @listings.active.count %> active <%= @listings.active.count == 1 ? "listing" : "listings" %>.</p>
  <% else %>
    <p>You have no active listings. Here are some things you can do to attract more clients: %></p>
  <% end %>
  <% if @listings.inactive.present? %>
    <p>You have <%= @listings.inactive.count %> inactive <%= @listings.inactive.count == 1 ? "listing" : "listings" %>.</p>
  <% end %>
  <% if @listings.sold.present? %>
    <p>You've sold <%= @listings.sold.count %> <%= @listings.sold.count == 1 ? "property" : "properties" %>.</p>
  <% end %>
<% end %>
