<section class="devise-signin-wrapper">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row devise-page">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="well">

          <h2>Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field container-fluid">
              <div class="col-xs-12 col-md-2">
                <%= f.label :email %><br />
              </div>
              <div class="col-xs-12 col-md-10">
                <%= f.email_field :email, autofocus: true, class: "devise-field" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: "btn btn-primary active submit-devise" %>
            </div>
          <% end %>

        </div>
        <div class="well">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  </section>
