<%= form_for @twitter_share, remote: true, html: {multipart: true, class: "dashboard-form"} do |f| %>
  <div class="hidden" id="twitter-account-id" data="<%= @twitter_account.id %>"></div>
  <div class="error_messages">
    <% @twitter_share.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    <div class="notice alert alert-danger collapse" id="twitter-errors" role="alert"></div>
  </div>

  <div class="text-center" id="share-type">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-twitter active">
        <input type="radio" name="twitter_options" class="text-share" autocomplete="off" class="btn-twitter" id="tw-text-option" checked>Text share
      </label>
      <label class="btn btn-twitter">
        <input type="radio" name="twitter_options" class="photo-share" autocomplete="off" id="tw-photo-option">Photo share
      </label>
      <!-- <label class="btn btn-primary">
        <input type="radio" name="twitter_options" class="video-share" autocomplete="off" id="tw-video-option">Video share
      </label> -->
    </div>
  </div>

  <div class="row">
    <div class="field tw-share-field twitter_photo-share social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :photo %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.file_field :photo,
          onchange: "validateTwFiles(this);",
          data: {max_file_size: 5.megabytes},
          autofocus: true,
          class: "share-input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field tw-share-field twitter_photo-share social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :remote_photo_url, "or image URL" %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.text_field :remote_photo_url, autofocus: true, placeholder: "http://...", class: "share-input" %>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="field tw-share-field twitter_video-share social-form">
      <div class="col-xs-12 col-md-4">
        <%#= f.label :video %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%#= f.file_field :video,
        onchange: "validateFiles(this);",
        data: {max_file_size: 15.megabytes},
        autofocus: true,
        class: "share-input" %>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="field social-form">
      <div class="col-xs-12 col-md-4">
        <%= f.label :content %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.text_area :content, autofocus: true, class: "share-input form-control", rows: "5" %>
        <div class="pull-right">
          <span id="message"> 140 </span> Characters Remaining
        </div>
      </div>
    </div>
  </div>

  <div class="actions social-submit">
    <%= button_tag(class: "btn btn-twitter", id: "tweet") do %>
      <%= icon('twitter') %> Tweet
    <% end %>
  </div>

<% end %>
