<div class="panel panel-default feed-item <%= params[:controller] == 'mixfeeds' ? 'grid-item' : '' %>" data="<%= tweet.created_at %>">
  <div class="panel-heading">
    <span class="page-name">
      <%= image_tag(tweet.user.profile_image_url.to_s, class: "img-circle avatar-thumb") %>
      <%= link_to tweet.user.screen_name, tweet.user.url.to_s %>
    </span>
    <span class="pull-right">
      <%= icon('twitter', class: "twitter-blue") %>
    </span>
    </br>
    <span class="shared-at pull-right">
      <%= time_ago_in_words(tweet.created_at) %> ago
    </span>
  </div>

  <div class="panel-body feed">
    <% if tweet.media? %>
      <div class="text-center">
        <% tweet.media.each do |object| %>
            <%= link_to image_tag(object.media_url, class: "share-media media-with-statistics"), "#{object.media_url}", 'data-lightbox': "tweet", 'data-title': "#{@twitter_account.handle}: #{tweet.text}" %>
        <% end %>
      </div>
    <% end %>
    <div class="message">
      <p><%= auto_link(tweet.text).html_safe %></p>
    </div>
    <div class="statistics">
      <% if tweet.retweet_count > 0 %>
        <%= tweet.retweet_count %> <span class="twitter-blue"><%= icon("retweet") %></span>
      <% end %>
      <% if tweet.favorite_count > 0 %>
        <%= tweet.favorite_count %> <span class="twitter-favorite"><%= icon("star") %></span>
      <% end %>
    </div>
  </div>
</div>
