<div class="panel panel-default feed-item <%= params[:controller] == 'mixfeeds' ? 'grid-item' : '' %>">
  <div class="panel-heading">
    <span class="page-name">
      <%= image_tag(tweet.user.profile_image_url.to_s, class: "img-circle avatar-thumb") %>
      <%= link_to tweet.user.screen_name, tweet.user.url.to_s %>
    </span>
    <span class="pull-right">
      <%= icon('twitter', class: "twitter-blue") %>
    </span>
    </br>
    <span class="shared-at pull-right">
      <%= time_ago_in_words(tweet.created_at) %> ago
    </span>
  </div>

  <div class="panel-body feed">

    <%= render 'twitter_shares/content', tweet: tweet %>
    <%= render 'twitter_shares/actions', tweet: tweet %>
    <%= render 'twitter_shares/reshare_to_fb_comment_modal', tweet: tweet %>
    <%= render 'twitter_shares/statistics', tweet: tweet %>

  </div>
</div>
